* {
  margin: 0;
  box-sizing: border-box;
}

#cooltext {
  font-family: monospace;
  color: white;
  font-size: 2em;
  text-shadow: 5px 5px 5px black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 95, 234);
  height: 100vh;
}

span {
  display: inline-block;
}

.textwave {
  --delay: 0s;
  animation: textwave 1.5s;
  /*   animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); */
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.85, 1.26);
  animation-delay: calc(var(--delay) * 0.1s);
}

@keyframes textwave {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
